<!DOCTYPE html>
<html>
  <head>
    <title>Pirates</title>
  </head>

  <body>
<h1>Display your Pirate here</h1>
<p><%= @pirate_name    %></p>
<p><%= @pirate_weight  %></p>
<p><%=  @pirate_height %></p>
<h2>Display your first ship here</h2>
<p><%= @ship_name_1    %></p>
<p><%= @ship_type_1   %></p>
<p><%= @ship_type_1   %></p>
<h2>Display your second ship here</h2>
<p><%= @ship_name_2   %></p>
<p><%= @ship_type_2   %></p>
<p><%= @ship_booty_2  %></p>
</body>
</html>
