<!DOCTYPE html>
<html>
  <head>
    <title>Pirates</title>
  </head>

  <body>
<h1>Display your Pirate here</h1>
<p><%=  %></p>
<p><%=  %></p>
<p><%=  %></p>
<h2>Display your first ship here</h2>
<p><%=  %></p>
<p><%=  %></p>
<p><%=  %></p>
<h2>Display your second ship here</h2>
<p><%=  %></p>
<p><%=  %></p>
<p><%=  %></p>
</body>
</html>
